.form-group {
  margin-bottom: 0;
  margin-top: 16px;
}

.form-control-file {
  background-color: #fff;
  color: #008ac9;
  border-bottom: 1px solid #008ac9;
}

input#file-upload-button {
  background-color: #008ac9;
  color: #fff;
}
